.btn {
  /* Rectangle 1 */

  /* position: absolute; */
  width: 60px;
  height: 60px;
  left: 1113px;
  top: 512px;

  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
}